<html>
    <head></head>
    <body>
        <h1>두 수의 합은 <%=@add_result%>입니다.</h1>
        <h1>두 수의 차는 <%=@cha_result%>입니다.</h1>
        <h1>두 수의 곱은 <%=@mul_result%>입니다.</h1>
        <h1>두 수의 나눗셈은 <%=@na_result%>입니다.</h1>
    </body>
</html>